# Variables de entorno
.env
.env.*
!.env.example

# Dependencias
node_modules/

# Next.js
.next/
out/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# IDE / editores
.vscode/
.idea/

# Build
dist/
build/